.footer
  width: 100%
  font-size: 0.75rem
  line-height: 1rem
  padding: 2rem 3% 1rem
  text-align: center
  background-color: #0ca3b9
  background-image: linear-gradient(-29deg, rgba(0, 0, 0, 0.42) 0%, rgba(255, 255, 255, 0.42) 100%)
  color: #ebebeb