.header
  width: 100%
  color: #fff
  display: flex
  flex-wrap: wrap

.h1-area
  width: 100%
  background-color: #0ca3b9
  background-image: linear-gradient(-29deg, rgba(0, 0, 0, 0.42) 0%, rgba(255, 255, 255, 0.42) 100%)
  padding: 30% 3% 10%

.discription-area
  width: calc(100% - 80px)
  height: 80px
  background-color: #27212c;
  font-size: 0.8rem
  color: #9282a0;
  text-align: left
  padding: 0 3%
  display: flex
  justify-content: start
  align-items: center
  
.simbol-area
  width: 80px
  height: 80px
  background-color: #bc3183;
  position: relative 

span.top,
span.bottom
  display: block
  width: 20px
  height: 4px
  border-radius: 2px
  background-color: #ffffff
  position: absolute

span.top
  top: calc(43% - 2px)
  left: calc(50% - 10px)
  transform: rotate(45deg)    

span.bottom
  top: calc(57% - 2px)
  left: calc(50% - 10px)
  transform: rotate(-45deg)



