.main
  width: 100%
  display: flex
  flex-direction: column
  padding-bottom: 10%
  background-color: #ebebeb

.gallery
  width: 100%
  background-color: #27212c;
  display: flex
  flex-direction: column

.gallery-item
  width: 100%
  
  img
    width: 100% 

.video
  width: 100%
  position: relative
  padding-bottom: 75%
  height: 0
  overflow: hidden

.video iframe,
.video object,
.video embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100% 

article.text
  width: 100%
  background-color: #ebebeb
  display: flex
  flex-direction: column
  padding: 10% 10% 0

  p 
    color: #515151
    font-size: 1rem
    font-weight: 400
    line-height: 1.375rem
    padding-top: 1.5rem

.hidden-for-small
  position: absolute
  clip: rect(0 0 0 0)
  width: 1px
  height: 1px
  margin: -1px

@media screen and (min-width: 768px)
  .hidden-for-small
    position: relative
    clip: rect(0 auto auto 0)
    width: 100%
    height: auto
    margin: 0 

@media screen and (min-width: 1024px)
  .main
    flex-direction: row
    flex-wrap: wrap

  .gallery
    flex-direction: row
    flex-wrap: wrap

  .gallery-item
    width: 33.333%
  
  .video
    width: 33.333%
    padding-bottom: 25%
  
  article.text
    width: 33.333%
    padding: 5% 3%   
  