.top-navbar
  width: 100%
  text-align: center
  background: hsla(0, 0%, 10%, .9)
  font-size: 1.5rem
  line-height: 3rem
  text-transform: uppercase
  position: fixed
  top: 0  
  padding: 2rem 5% 1rem
  display: flex
  flex-direction: column
  justify-content: space-between
  transition: all ease 0.5s
  z-index: 2

  ul
    list-style: none
    align-self: center

  a
    text-decoration: none
    color: #cecece
    padding: 0 2rem
    transition: all 0.3s
  
  a:hover,
  a:focus
    letter-spacing: 3px
    color: #fff
    border-left: 2px solid #fff
    transition: all 0.3s      

.nav-button
  width: 60px
  height: 60px
  background: none
  border: none
  padding: 10px
  align-self: flex-end
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  transition: all ease 0.3s
  cursor: pointer

  span
    width: 40px
    height: 4px
    background-color: #cecece
    transition: all ease 0.3s
    
.nav-button:hover,
.nav-button:focus
  span
    background-color: #fff
    transition: all ease 0.3s

.close
  top: -23rem
  transition: all ease 0.5s

@media screen and (min-width: 1024px)
  .nav-button
    display: none 

  .top-navbar
    font-size: .8rem
    line-height: 3rem
    top: 0  
    padding: 2rem 3% 1rem
    
    ul
      align-self: flex-start

    li
      display: inline-flex






