@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700')
@import "normalise"

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'Montserrat', sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 20px

h1
  font-size: 2rem
  font-weight: 300
  line-height: 2.5rem

h2
    font-size: 1.6rem
    font-weight: 400
    color: #088ca5;

@media screen and (min-width: 767px)
  h1
    font-size: 3rem
    line-height: 4rem

  h2
    font-size: 2.4rem
    line-height: 3rem  

@import "top-nav"
@import "header"
@import "main"
@import "footer"  

